.boxed {
    border: 2px solid cornflowerblue;
    font-size: 40px;
}

.container {
    display: flex;
    justify-content: center;
    margin: 0px auto;
    /* text-align: center; */
    width: 100%;
}

.kitPiece {
    background-color: #F2F2F2 ;
    border-color: #236E8C;
    border-style: solid;
    border-radius: 10px;
    border-width: 10px;
    color: #735B2F;
    float: left;
    font-size: 80px;
    margin: 25px;
    text-align: center;
    width: 90px;
}

h1 {
    color: #F2F2F2;
    font-family: 'Overpass Mono';
    font-size: 80px;
    text-align: center;
}

body {
    background-color: #248EA6;
}